<!DOCTYPE html>
<html>

<head>
    <title>Rental-Of-school-supplies</title>
    <link rel="stylesheet" href="../css/product_list.css" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    <script src="../js/main.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../jquery-fadethis-master/libs/jquery/jquery.js"></script>
    <script src="../jquery-fadethis-master/dist/jquery.fadethis.min.js"></script>

</head>

<body>
    <p class="main">충북대학교<span class="main_dep"> 소프트웨어학부</span></p>
    <div class="logo">
        <a href="main.php"><img src="../src/logo.PNG" alt="logo" height="120px"></a>
        <span class="title">학생회 <span>물품대여</span></span>
    </div>
    <div class="sub_title">
        <ul>
            <li><a href="#">sign in / sign up</a></li>
            <li><a href="#">my page</a></li>
        </ul>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="product_list_All.html">물품 목록</a></li>
            <li><a href="product_req.html">물품 신청</a></li>
            <li><a href="location.html">찾아오시는 길</a></li>
            <li><a href="team_intro.html">팀 소개</a></li>
        </ul>
    </nav>

    <div class="container">
        <nav class="navbar2">
            <ul>
                <li><a href="product_list_All.html">전체</a></li>
                <li><a href="product_list_Daily.html" style="color: #4568DC;">생필품</a></li>
                <li><a href="product_list_elec.html">전자기기</a></li>
                <li><a href="product_list_health.html">운동기구</a></li>
                <li><a href="product_list_stationery.html">문구</a></li>
            </ul>
        </nav>    
    </div>

    <section>
        <div class="container">
            <div class="product_list">
                <div class="product">
                    <img class="product-img"src="../src/bettery.jpeg" alt="bettery" style="width: 300px; height:200px;">
                    <p class="product-name">보조 배터리</p>
                    <p class="product-count">(전체 개수: 5 / 남은 수량: 3)</p>
                    <p class="product-info">보조 배터리를 사용해 전자 기기를 충전합니다.<br>연결 단자(C타입, 아이폰, 갤럭시) 포함</p>
                    <button class="btn-rent" type="submit">대여하기</button>
                </div>
                <div class="product">
                    <img class="product-img"src="../src/umbrella.jpeg" alt="umbrella" style="width: 300px; height:200px;">
                    <p class="product-name">우산</p>
                    <p class="product-count">(전체 개수: 5 / 남은 수량: 3)</p>
                    <p class="product-info">보조 배터리를 사용해 전자 기기를 충전합니다. 연결 단자(C타입, 아이폰, 갤럭시) 포함</p>
                    <button class="btn-rent" type="submit">대여하기</button>
                </div>
                <div class="product">
                    <img class="product-img"src="../src/blanket.jpeg" alt="blanket" style="width: 300px; height:200px;">
                    <p class="product-name">담요</p>
                    <p class="product-count">(전체 개수: 5 / 남은 수량: 3)</p>
                    <p class="product-info">보조 배터리를 사용해 전자 기기를 충전합니다. 연결 단자(C타입, 아이폰, 갤럭시) 포함</p>
                    <button class="btn-reserve" type="submit">예약하기</button>
                </div>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>(Inc)3Idiots</h6>
                    <p class="text-justify">
                        Business registration number: 120-00-12345<br>
                        hosting services: 3Idiots Corporation | Student Council Rental Business Report Number:
                        1234-cbnu-56789<br>
                        28644 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and
                        computer engineering BID.3)<br>
                        Customer Service: 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of
                        electrical and computer engineering BID.3)</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>