<!DOCTYPE html>
<html>

<head>
    <title>product_req</title>
    <link rel="stylesheet" href="../css/product_add_M.css" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    <script src="../js/main.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../jquery-fadethis-master/libs/jquery/jquery.js"></script>
    <script src="../jquery-fadethis-master/dist/jquery.fadethis.min.js"></script>
</head>

<body>
    <p class="main">충북대학교<span class="main_dep"> 소프트웨어학부</span></p>
    <div class="logo">
        <img src="../src/logo.PNG" alt="logo" height="120px">
        <span class="title">학생회 <span>물품대여</span></span>
    </div>
    <div class="sub_title">
        <ul>
            <li><a href="#">sign in / sign up</a></li>
            <li><a href="#">my page</a></li>
        </ul>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="#">물품 목록</a></li>
            <li><a href="#">물품 신청</a></li>
            <li><a href="#">물품 관리</a></li>
            <li><a href="#">팀 소개</a></li>
        </ul>
    </nav>

    <section class="product_req">

        <div class="inner">
            <div class="product_name">
                <label class="title_text" for="title">추가할 물품 이름</label>
                <input class="title_input" type="text" name="title" maxlength="100" required="required"
                    pattern=".{4,100}">
                <button class="btn_confirm" type="submit" style="display: inline-block;">확인</button>
            </div>

            <div class="product_quantity">
                <label class="quantity_text" for="quantity">전체 수량</label>
                <input class="quantity_input" type="text" name="quantity" maxlength="100" required="required"
                    pattern=".{4,100}">
            </div>

            <div class="product_explanation">
                <label class="explanation_text" for="explanation">물품 설명</label>
                <input class="explanation_input" type="text" name="explanation" maxlength="100" required="required"
                    pattern=".{4,100}">
            </div>

            <div class="product_reason">
                <label class="reason_text" for="reason">신청사유</label>
                <input class="reason_input" type="text" name="reason" maxlength="100" required="required"
                    pattern=".{4,100}">
            </div>

            <div class="category">
                <label class="drop_down" for="cate">카테고리</label>
                <select size="4" id="cate" multiple>
                    <option value="생필품">생필품</option>
                    <option value="전자기기">전자기기</option>
                    <option value="운동기구">운동기구</option>
                    <option value="문구">문구</option>
                </select>
            </div>

            <div class="attach_file">

            </div>

        <button class="btn_submit" type="submit">제출하기</button>

        </div>

    </section>

    <!-- footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>(Inc)3Idiots</h6>
                    <p class="text-justify">
                        Business registration number: 120-00-12345<br>
                        hosting services: 3Idiots Corporation | Student Council Rental Business Report Number:
                        1234-cbnu-56789<br>
                        28644 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and
                        computer engineering BID.3)<br>
                        Customer Service: 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of
                        electrical and computer engineering BID.3)</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>